<footer>
  <mat-grid-list cols="5" rowHeight="300px" class="mat-app-background">
    <mat-grid-tile>
      <img src="assets/icons/icon-96x96.png" />
      <h2>Scrum Band</h2>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-list role="list">
        <div mat-subheader>Scrum Band</div>
        <mat-list-item role="listitem">About</mat-list-item>
        <mat-list-item role="listitem">Contact</mat-list-item>
        <mat-list-item role="listitem">LICENSE</mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-list role="list">
        <div mat-subheader>Open Source</div>
        <mat-list-item role="listitem">Repository</mat-list-item>
        <mat-list-item role="listitem">Support</mat-list-item>
        <mat-list-item role="listitem">CONTRIBUTING</mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-list role="list">
        <div mat-subheader>Pricing</div>
        <mat-list-item role="listitem">Free</mat-list-item>
        <mat-list-item role="listitem">Squad</mat-list-item>
        <mat-list-item role="listitem">Enterprise</mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-list role="list">
        <div mat-subheader>Help Us!</div>
        <mat-list-item role="listitem">Buy me a coffee</mat-list-item>
        <mat-list-item role="listitem">KO-FI</mat-list-item>
        <mat-list-item role="listitem">Shop</mat-list-item>
      </mat-list>
    </mat-grid-tile>
  </mat-grid-list>
</footer>
