<div class="viewer-wrapper">
  <mat-toolbar color="primary" class="fixed secondary-toolbar">
    <mat-toolbar-row>
      <span>{{ 'scrum-guide.intro.subtitle' | translate }}</span>
      <span class="sb-spacer"></span>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container autosize hasBackdrop="true">
    <mat-sidenav #drawer mode="over" position="end" fixedInViewport fixedTopGap="128">
      <mat-action-list>
        <mat-list-item *ngFor="let link of MENU">
          <button
            [ngClass]="link.parent ? 'sb-sg-submenu' : 'sb-sg-menu'"
            mat-list-item
            (click)="scrollTo(link.anchor, link.parent); drawer.toggle()">
            {{ link.name | translate }}
          </button>
        </mat-list-item>
      </mat-action-list>
    </mat-sidenav>
    <sb-sg-full-guide></sb-sg-full-guide>
  </mat-sidenav-container>
</div>
