<!-- ATRIBUCIONES -->
<sb-sg-attribution id="sb-sg-attribution"></sb-sg-attribution>
<!-- INTRO -->
<sb-sg-intro id="sb-sg-intro"></sb-sg-intro>
<!-- PROPOSITO -->
<sb-sg-purpose id="sb-sg-purpose"></sb-sg-purpose>
<!-- DEFINICION -->
<sb-sg-definition id="sb-sg-definition"></sb-sg-definition>
<!-- TEORIA -->
<sb-sg-theory id="sb-sg-theory"></sb-sg-theory>
<!-- VALORES -->
<sb-sg-values id="sb-sg-values"></sb-sg-values>
<!-- EQUIPO -->
<sb-sg-team id="sb-sg-team"></sb-sg-team>
<!-- EVENTOS -->
<sb-sg-events id="sb-sg-events"></sb-sg-events>
<!-- ARTEFACTOS -->
<sb-sg-artifacts id="sb-sg-artifacts"></sb-sg-artifacts>
<!-- END NOTE -->
<sb-sg-end-note id="sb-sg-end-note"></sb-sg-end-note>
<!-- THANKS-->
<sb-sg-thanks id="sb-sg-thanks"></sb-sg-thanks>
<!-- CHANGES -->
<sb-sg-changes id="sb-sg-changes"></sb-sg-changes>
