@import '../../../../../assets/theming/variables';

mat-drawer-container {
  margin-top: $toolbar-height;
  width: 100%;
  height: calc(100vh - $toolbar-height);
  mat-drawer {
    width: 40%;
    mat-list-option {
      display: flex;
      justify-content: flex-end;
    }
  }
  mat-drawer-content {
    width: 60%;
    padding: 1em;
  }
}
mat-selection-list {
  padding-right: 5px;
}
mat-list-option[aria-selected='true'] {
  border-right: 5px solid $accent-color;
}
