<!-- THANKS -->
<mat-card>
  <mat-card-title>
    {{ scrumGuideThanks.title | translate }}
  </mat-card-title>
  <mat-card-content>
    <!-- PEOPLE -->
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ scrumGuideThanks.people.title | translate }}</mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngFor="let content of scrumGuideThanks.people.content">
          {{ content | translate }}
        </p>
      </mat-expansion-panel>
      <!-- HISTORY -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ scrumGuideThanks.history.title | translate }}</mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngFor="let content of scrumGuideThanks.history.content">
          {{ content | translate }}
        </p>
      </mat-expansion-panel>
      <!-- TRANSLATORS -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ scrumGuideThanks.translators.title | translate }}</mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngFor="let content of scrumGuideThanks.translators.content">
          {{ content | translate }}
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
