@import '../assets/theming/variables';

.sb-toolbar {
  position: fixed;
  top: 0;
  z-index: 1000;
}
mat-sidenav {
  margin-top: $toolbar-height;
  margin-bottom: calc($toolbar-height/2);
  width: 300px;
  min-width: 300px;
}
mat-sidenav-container {
  width: 100%;
}
.sb-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  height: calc($toolbar-height/2);
  font-size: 0.8em;
}
