<mat-toolbar color="primary">
  <img src="../../../assets/icons/icon-48x48.png" />
  <span>Scrum Band</span>
  <span class="sb-spacer"></span>
  <button mat-button>Features</button>
  <button mat-button>Open Source</button>
  <button mat-button>Pricing</button>
  <span class="sb-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>

  <button mat-flat-button color="accent">Sign In</button>
</mat-toolbar>
