<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img
      src="../../../assets/icons/icon-48x48.png"
      title="Scrum Band"
      alt="Scrum Band logo"
    />
    <ng-container *ngIf="!isMobileDisplay; then menuButtons"></ng-container>
    <span class="sb-spacer"></span>

    <sb-light-switcher></sb-light-switcher>
    <sb-lang-selector></sb-lang-selector>

    <button mat-flat-button color="accent" title="{{ 'sign in' | translate }}">
      {{ "sign in" | translate }}
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="isMobileDisplay">
    <ng-container *ngIf="isMobileDisplay; then menuButtons"></ng-container>
    <span class="sb-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #menuButtons>
  <span class="sb-spacer"></span>
  <button mat-button title="{{ 'features' | translate }}">
    {{ "features" | translate }}<mat-icon>expand_more</mat-icon>
  </button>
  <button mat-button title="{{ 'open source' | translate }}">
    {{ "open source" | translate }}<mat-icon>expand_more</mat-icon>
  </button>
  <button mat-button title="{{ 'pricing' | translate }}">
    {{ "pricing" | translate }}
  </button>
</ng-template>
