@import '../../../../assets/theming/variables';

mat-drawer-container {
  padding: 1em;
}

mat-drawer {
  padding: 1em;
}
.sb-sg-menu {
  padding-left: 2em;
  padding-right: 2em;
}
.sb-sg-submenu {
  padding-left: 4em;
  padding-right: 2em;
}

.sb-sg-drawer {
  margin-top: calc($toolbar-height/2);
  margin-bottom: calc($toolbar-height/2);
}
