<h2>Mejora todas las fases de tu proyecto SCRUM</h2>
<div class="timeline">
  <div class="timeline__event animated fadeInUp delay-3s timeline__event">
    <div class="timeline__event__icon">
      <mat-icon>receipt_long</mat-icon>
    </div>
    <div class="timeline__event__date">INICIO</div>
    <div class="timeline__event__content mat-app-background">
      <div class="timeline__event__description">
        <p>
          El Product Owner será el encargado de identificar al resto del equipo
          (Developers, Scrum Master) y a los Stakeholders del proyecto. Crear
          las épicas que darán lugar a un Product Backlog priorizado y
          transmitirlo junto al Product Goal y la planificación de lanzamiento
          al resto del equipo y Stakeholders.
        </p>
        <mat-chip-list>
          <mat-chip>
            <mat-icon class="smallicon">manage_history</mat-icon>
            Scheduler
          </mat-chip>
          <mat-chip>
            <mat-icon class="smallicon">data_exploration</mat-icon>
            Dashboard
          </mat-chip>
          <mat-chip>
            <mat-icon class="smallicon">groups</mat-icon>
            Teams
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
  <div
    class="timeline__event animated fadeInUp delay-2s timeline__event--type2"
  >
    <div class="timeline__event__icon">
      <mat-icon>map</mat-icon>
    </div>
    <div class="timeline__event__date">PLANIFICACION</div>
    <div class="timeline__event__content mat-app-background">
      <div class="timeline__event__description">
        <p>
          El Product Owner propone como aumentar el valor y todos colaboran para
          definir un Sprint Goal. Seleccionan y refinan los items del Product
          Backlog necesarios para alcanzarlo y los Developers lo descomponen en
          tareas de uno o dos días dando lugar al Sprint Backlog. El scrum
          Master se encarga de que se siga la metodología.
        </p>
        <mat-chip-list>
          <mat-chip>
            <mat-icon class="smallicon">meeting_room</mat-icon>
            Planning Rooms
          </mat-chip>
          <mat-chip>
            <mat-icon class="smallicon">grain</mat-icon>
            Grooming Rooms
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
  <div
    class="timeline__event animated fadeInUp delay-1s timeline__event--type2"
  >
    <div class="timeline__event__icon">
      <mat-icon>engineering</mat-icon>
    </div>
    <div class="timeline__event__date">IMPLEMENTACION</div>
    <div class="timeline__event__content mat-app-background">
      <div class="timeline__event__description">
        <p>
          El Product Owner Se encargara del refinamiento del Product Backlog y
          no será necesario en las Daily, en caso de asistir será reponsabilidad
          del Scrum Master que este no interrumpa ni se extralimite mientras que
          los Developers se sincronizan y adaptan para conseguir el Sprint Goal.
        </p>
        <mat-chip-list>
          <mat-chip>
            <mat-icon class="smallicon">today</mat-icon>
            Daily Rooms
          </mat-chip>
          <mat-chip>
            <mat-icon class="smallicon">smart_toy</mat-icon>
            Auto-Reports
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
  <div class="timeline__event animated fadeInUp timeline__event--type2">
    <div class="timeline__event__icon">
      <mat-icon>remove_red_eye</mat-icon>
    </div>
    <div class="timeline__event__date">&nbsp;REVISION&nbsp;</div>
    <div class="timeline__event__content mat-app-background">
      <div class="timeline__event__description">
        <p>
          El equipo Scrum junto con los Stakeholders revisarán el incremento de
          valor generado para que el Product Owner pueda decidir si se ha
          cumplido el Sprint Goal y genere nuevos contenidos para el Product
          Backlog con las nuevas ideas o correcciones a abordar en futuros
          Sprints.
        </p>
        <mat-chip-list>
          <mat-chip>
            <mat-icon class="smallicon">previews</mat-icon>
            Review Rooms
          </mat-chip>
          <mat-chip>
            <mat-icon class="smallicon">emoji_events</mat-icon>
            Achievements
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
  <div class="timeline__event animated fadeInUp timeline__event--type2">
    <div class="timeline__event__icon">
      <mat-icon>self_improvement</mat-icon>
    </div>
    <div class="timeline__event__date">RETROSPECTIVA</div>
    <div class="timeline__event__content mat-app-background">
      <div class="timeline__event__description">
        <p>
          El Equipo Scrum identifica los cambios a realizar para mejorar su
          calidad y eficacia como equipo. Identificando los orígenes de sus
          logros y carencias en el Sprint o Proyecto que se está cerrando
          inpeccionandolo a todos los niveles, tanto individual como de
          procesos, herramientas o iteracciones.
        </p>
        <mat-chip-list>
          <mat-chip>
            <mat-icon class="smallicon">groups_3</mat-icon>
            Retro Rooms
          </mat-chip>
          <mat-chip>
            <mat-icon class="smallicon">psychology_alt</mat-icon>
            Resources
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
  <div class="timeline__event animated fadeInUp timeline__event--type2">
    <div class="timeline__event__icon">
      <mat-icon>rocket_launch</mat-icon>
    </div>
    <div class="timeline__event__date">LANZAMIENTO</div>
    <div class="timeline__event__content mat-app-background">
      <div class="timeline__event__description">
        <p>
          Los Stakeholders validarán el entregable que habrá preparado y
          validado el Equipo Scrum asegurándose de que cumple todas las épicas
          del Product Backlog y en consecuencia el Product Goal. Se recomienda
          hacer una sesión retrospectiva del proyecto.
        </p>
        <mat-chip-list>
          <mat-chip>
            <mat-icon class="smallicon">history</mat-icon>
            History
          </mat-chip>
          <mat-chip>
            <mat-icon class="smallicon">file_download</mat-icon>
            Export data
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
</div>
